h1 {
  font-size: 80px;
  color: green;
  text-align: center;
}

h2 {
  font-size: 50px;
  font-style: bold;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-weight: 400px;
}

h3 {
  font-size: 40px;
  line-height: 60px;
}

body {
  background-color: skyblue;

}
